$navBar : #103832;
$section2 : #174345;
$green : #4f9151;
$whiteBackground : #f5f8eb;
$btnColor : black;

$btnBasicHeight : 50px;

@mixin button($btnColor, $btnPadding, $btnRadius, $btnMargin){
    background-color: $btnColor;
    border-radius: $btnRadius;
    padding: $btnPadding;
    margin: $btnMargin;
}

button {
    display: flex;
    height: $btnBasicHeight;
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: $whiteBackground;
    border-style: none;
    border-color: $whiteBackground; 
    @include button($btnColor,15px ,15px ,30px);
    @media screen and (max-width : 1000px) {
        height: $btnBasicHeight*3;
        font-size: 1.8em;
    }
}

.profile{
    @include button($whiteBackground, 15px, 50%, 0);
}

.btnProfile{
    @include button(darken($section2, 7), 15px, 15px, 30px);
    @media screen and (max-width : 1000px) {
        @include button(darken($section2, 7),15px*2.4 ,15px ,30px*2.4 )
    }
}

div.Carousel {
    display: flex;
    width: 50%;

    //gonna be filled with the carousel animation
}
div.photoHandler {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 50px;

    img {
        max-width: 80%;
        max-height: 550px;
    }
}

.link-container{
    @media screen and (max-width : 1000px) {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 5;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 25px;
    background-color: black;
    color : white;
    font-size: 1rem;
    align-items: center;
    @media screen and (max-width : 1000px) {
        height: 25px*3.4;
        font-size: 1.3em;
    }
}
