$deepBlue : #174345;
$green : #4f9151;
$whiteBackground : #f5f8eb;
$btnColor : #FFA532;
$btnColor2 : #DF5C47;

button{
    display: flex;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    color: black;
    background-color: $btnColor;
    border-radius: 15px;
    border-style: none;
    border-color: $whiteBackground;
    padding: 15px;
}

