@font-face {
    font-family: montserat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: coromorant;
    src: url(fonts/CormorantGaramond-Medium.ttf);
  }

  $deepBlue : #174345;
  $green : #4f9151;
  $whiteBackground : #f5f8eb;
  $montserat : montserat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  $sectionPadding : 25px;

  html{
    font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  nav.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: $deepBlue;
    color: white;
    box-shadow: 5px 5px;
    div{
        font-size: 3em;
        display: flex;
        width: 33%;
        margin: 15px;
    }
    li{
        font-family: $montserat;
        font-size: 1.75em;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 67%;
        margin: 15px;
    }
  }

  main{
    section.foodSection{
        display: flex;
        flex-direction: row;
        background: linear-gradient(to left, $green 30%, $whiteBackground);

        div.Carousel{
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: flex-start;
            padding: $sectionPadding;
            padding-left: 50px;
            div.photoHandler{
                img {
                    max-width: 75%;
                    max-height: 50%;
                }
            }
        }
        div.restaurantDescription{
            display: flex;
            width: 50%;
            font-size: 1.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $whiteBackground;
            text-align: center;
            padding: $sectionPadding;
            padding-right: 50px;

            button{
                color : black;
                border-radius: 5px;
                border-style: double;
                font-size: 1.3em;
                padding: $sectionPadding;
            }
        }
    }
}

h1{
    font-weight: lighter;
    font-size: 3rem;
}

