//fonts
@font-face {
    font-family: montserat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: coromorant;
    src: url(fonts/CormorantGaramond-Medium.ttf);
}

//potentially used colors
$navBar : #102837;
$section2 : #174345;
$green : #4f9151;
$whiteBackground : #f5f8eb;
$btnColor2 : #DF5C47;

//fonts
$montserat : montserat,
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

$coromorant : coromorant,
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
//padding 
$sectionPadding : 25px;

//mixin for the background of every section
@mixin mainSection($color1, $color2, $flexDirection, $gradientDirection){
    display: flex;
    flex-direction: $flexDirection;
    position: relative;
    top: 65px;
    background: linear-gradient(to $gradientDirection, $color1 45%, $color2);
}

html {
    font-family: $montserat;
}


body{
    width: 100%;
}
nav.navBar {
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: $navBar;
    color: white;
    z-index: 1;
    div {
        font-size: 3em;
        display: flex;
        width: 33%;
        margin: 15px;
        font-family: $coromorant;
    }

    li {
        font-family: $montserat;
        font-size: 1.75em;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 67%;
        margin: 15px;
    }
}

main {
    display: flex;
    flex-direction: column;
    section.foodSection {
        @include mainSection($green, $whiteBackground, row, left);
    }
    section.openHours{
        @include mainSection($section2, $whiteBackground,  row-reverse, right);
    }
}

div.description {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $sectionPadding;
    padding-right: 50px;
    color: $whiteBackground;
    text-align: center;

    .btnCenter {
        display: flex;
        justify-content: center;
    }

    button {
        justify-content: center;
        width: 175px;
        color: black;
        border-radius: 5px;
        border-style: none;
        font-size: 1.3em;
        padding: 30px;
    }
    .openHours{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        .tabSquare{
            display: flex;
            flex-direction: row;
            justify-content: space-between  ;
            margin-bottom: 15px;
            .weekDay{
                display: flex;
                width: 50%;
                font-family: $coromorant;
                font-size: 1.3em;
            }
        }
    }
}



h1 {
    font-size: 2.5rem;
    font-family: $coromorant;
}
.slogan{
    font-size: 3.3rem;
    font-weight: lighter;
}
