//fonts
@font-face {
    font-family: montserat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: coromorant;
    src: url(fonts/CormorantGaramond-Medium.ttf);
}

//potentially used colors
$navBar : #102837;
$section2 : #174345;
$section1 : #CCA466;
$whiteBackground : #f5f8eb;
$btnColor2 : black;

//fonts

@import 'navBar.scss';

html,
body {
    font-family: $montserat;
    color: $navBar;
    margin: 0%;
}

//mixin for the background of every section
@mixin mainSection($color1, $color2, $flexDirection, $gradientDirection, $percentGradient) {
    display: flex;
    flex-direction: $flexDirection;
    position: relative;
    top: 65px;
    background: linear-gradient(to $gradientDirection, $color1 $percentGradient, $color2);

}


main {
    display: flex;
    flex-direction: column;

    section.headSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        top: 65px;
        background-color: $section2;
        justify-content: center;

        .date {
            z-index: 2;
            margin: 10px;
        }
    }

    section.menuSectionOne {
        @include mainSection($section1 , $whiteBackground, row, left, 45%)
    }

    section.menuSectionTwo {
        @include mainSection($section1 , $whiteBackground, row-reverse, right, 45%)
    }

    section.reservSection {
        @include mainSection($section1,$whiteBackground ,row ,right ,33%);
        padding: 20px;
        justify-content: center;
        .slogan {
            padding: 30px
        }

        .btnRes {
            margin: 20px;
            width: 10%;
            height: 96px;
            text-align: center;
            font-size: 2em;
            display: flex;
            justify-content: center;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color:darken($color: $section2, $amount: 5);
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    align-items: center;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

label{
    color: white;
    padding-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75px;
    margin-top: 40px;
    justify-content: center;
}


.input {
    display: flex;
    background-color: lighten($color: $section2, $amount: 5);
    border-radius: 12px;
    border: 0;
    height: 75px;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}


.resButtons {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: $whiteBackground;
    font-family: $coromorant;
    font-size: 5.5rem;
    padding: 15px;
    width: 100%;
    text-align: center;
}


div.description {
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $sectionPadding;
    padding-right: 50px;
    text-align: center;

    .btnCenter {
        display: flex;
        justify-content: center;
    }

    button {
        justify-content: center;
        width: 250px;
        color: $whiteBackground;
        border-radius: 5px;
        border-style: none;
        font-size: 1.3em;
        padding: 30px;
    }

    .openHours {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;

        .tabSquare {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;

            .weekDay {
                display: flex;
                width: 50%;
                font-family: $coromorant;
                font-size: 1.3em;
            }
        }
    }
}

.slogan {
    font-family: $coromorant;
    font-size: 3.3rem;
    font-weight: lighter;
    text-align: center;
}