@font-face {
  font-family: montserat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: coromorant;
  src: url(fonts/CormorantGaramond-Medium.ttf);
}
nav.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: black;
  color: white;
  z-index: 1;
}
nav.navBar div {
  font-size: 3em;
  display: flex;
  width: 33%;
  margin: 15px;
  font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav.navBar li {
  font-family: montserat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 67%;
  margin: 15px;
}

html,
body {
  font-family: montserat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #102837;
  margin: 0%;
}

.background {
  background-image: url("../images/leQuaiAntinque.png");
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
}

main {
  display: flex;
  flex-direction: column;
}
main section.headSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 65px;
  background-color: #174345;
  justify-content: center;
}
main section.headSection .date {
  z-index: 2;
  margin: 10px;
}
main section.menuSectionOne {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 65px;
  background: linear-gradient(to left, #CCA466 45%, #f5f8eb);
}
main section.menuSectionTwo {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 65px;
  background: linear-gradient(to right, #CCA466 45%, #f5f8eb);
}
main section.reservSection {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 65px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
}
main section.reservSection .slogan {
  padding: 30px;
}
main section.reservSection .btnRes {
  margin: 5px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
main section.profilSection {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 65px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
}
main section.profilSection .title {
  color: #f5f8eb;
  font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  padding: 15px;
  width: 100%;
  text-align: center;
}
main section.profilSection .btnProfile {
  margin-top: 50px;
  min-width: 132px;
  text-align: center;
}

.form {
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: #174345;
  border-radius: 20px;
  padding: 20px;
  width: 420px;
  height: 100%;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

label {
  color: white;
  padding-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 75px;
  margin-top: 40px;
  justify-content: center;
}

.input-container-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 225px;
  margin-top: 40px;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  min-width: 200px;
}

.resContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.resContainer .btnContainer {
  display: flex;
  min-width: 200px;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  display: flex;
  background-color: #24686b;
  border-radius: 12px;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input-textarea {
  display: flex;
  background-color: #24686b;
  border-radius: 12px;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.resButtons {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

a.link {
  color: #CCA466;
}

.title {
  color: #f5f8eb;
  font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5.5rem;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.transition {
  height: 150px;
  width: 100%;
  opacity: 0;
}

div.description {
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  padding-right: 50px;
  text-align: center;
}
div.description .btnCenter {
  display: flex;
  justify-content: center;
}
div.description .openHours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
div.description .openHours .tabSquare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
div.description .openHours .tabSquare .weekDay {
  display: flex;
  width: 50%;
  font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3em;
}

.slogan {
  font-family: coromorant, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.3rem;
  font-weight: lighter;
  text-align: center;
}/*# sourceMappingURL=layout.css.map */